@import url("https://fonts.googleapis.com/css?family=Audiowide");
:root {
	--c1: #cddbf5;
	--c2: #7b90b8;
	--c3: #6476a0;
	--c4: #3e6194;
	--c5: #2f5586;
	--c6: #152d5b;
	--c1-mono: #b0c4e8;
	--c-compliment: #58557f;
	--c-accent: #513431;
	--c-red: #b96e6e;
	--bg: linear-gradient(
		180deg,
		var(--c1),
		var(--c1),
		var(--c1),
		#d6d6d6,
		#eaeaea
	);
	--bg1: linear-gradient(180deg, #eaeaea, #eaeaea, #b0c4e8, #eaeaea);
	--bg2: linear-gradient(130deg, #eaeaea, #eaeaea, var(--c1), #eaeaea);
	--bg3: linear-gradient(60deg,  #eaeaea,  #eaeaea, var(--c1), var(--c1),  #eaeaea);
	--bg4: linear-gradient(120deg,  #eaeaea,  #eaeaea, var(--c1), var(--c1),  #eaeaea);
	--bg5: linear-gradient(25deg, var(--c1), var(--c1), var(--c1), #eaeaea);

	--audio-font: "Audiowide", sans-serif;
	--helv-font: "Helvetica", sans-serif;
}

.audioFont {
	font-family: var(--audio-font);
}
.dropCap::first-letter {
	font-size: 1.4rem;
	color: var(--c-accent);
	letter-spacing: 1px;
}

body,
html,
#root {
	height: 100%;
}
.storybook-root {
	position: relative;
	font-family: "Helvetica", sans-serif;
	color: var(--c6);
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
}

.scene {
	min-height: 100vh;
	padding: 1.5rem 1rem;
}

.chapter {
	width: 100%;
	height: 100%;
	font-size: 65px;
	display: flex;
	margin-bottom: 3rem;
}
.chapter h2 {
	color: var(--c-compliment);
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.progress-container {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(176, 196, 232, 0.5);
	z-index: 1000;
	backdrop-filter: blur(10px);
}

.progress-bar {
	height: 100%;
	width: 100%;
	background: linear-gradient(
		90deg,
		var(--c-compliment) 0%,
		var(--c-compliment) 85%,
		var(--c1) 100%
	);
	transform-origin: left;
	transform: scaleX(0);
	box-shadow: 0 2px 8px rgba(46, 62, 95, 0.69);
}
.tv-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: auto;
}
.tv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.circle-border {
	border-radius: 100%;
	border: 10px var(--c-compliment) solid;
}

.circle-image {
	border: 2px solid var(--c-compliment);
}
.left-container {
	width: 100px;
	height: 100px;
	shape-outside: circle(50%);
	float: left;
	margin-right: 4rem;
	margin-bottom: 3rem;
}
.right-container {
	width: 130px;
	height: 100px;
	shape-outside: circle(50%);
	float: right;
	margin-right: 4rem;
	margin-bottom: 3rem;
}

.cloud {
	width: 6rem;
	height: auto;
	pointer-events: none;
	will-change: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.polariod::after {
	content: "Lorem ipsum dolor";
	position: absolute;
	bottom: -1px;
	left: 0;
	background-color: #363636a5;
	border-right: 10px solid #363636;
	width: 100%;
	height: 110px;
	font-size: 3rem;
	font-family: --var(--audio-font);
}
.polariod::before {
	content: "24";
	position: absolute;
	bottom: 0;
	left: -4px;
	background-color: #363636a5;
	width: 70%;
	height: 100px;
	border-radius: 14px;
	font-size: 2rem;
	padding-left: 1rem;
	margin-top: 2rem;
	font-family: --var(--audio-font);
}
.banner {
	font-size: 2.5rem;
	text-align: center;
	font-family: var(--audio-font);
	font-weight: 400;
}

.storyaParagraph {
	font-size: 0.9rem;
	line-height: 1.7rem;
	margin-block: 1rem;
	max-width: 500px;
	text-align: left;
	font-variant: all-small-caps;
}

.hero-scene .hero-content {
	max-width: 820px;
	text-align: center;
}
.hero-title {
	font-size: 2.2rem;
	margin: 0;
	z-index: 10;
}
.hero-name {
	font-size: 2.9rem;
	display: inline-block;
	color: var(--c-compliment);
}

.pinstripe {
	font-family: "Verdana", sans-serif;
	font-weight: 300;
}
.permanent {
	font-family: "Monaco", sans-serif;
	font-weight: 400;
}

.xxxl {
	font-size: 2.5rem;
}

.macro {
	font-size: 4rem;
}
.micro {
	opacity: 0;
	font-size: 2rem;
	margin-top: 1rem;
}
.hero-scene {
	background: var(--bg);
	margin-bottom: 17vh;
	padding-top: 35vh;
}

.about-me {
}
.career-scene {
	background: var(--bg3);
}
.education-scene {
	background: var(--bg2);
}
.today-scene {
	background: var(--bg4);
}
.footer-scene {
	background: var(--bg5);
	position: absolute;
	bottom: 10;
	left: 0;
	width: 100%;
	padding: 1rem;
	text-align: center;
	padding-bottom: 3rem;
}

/* mobile first scales */
@media (min-width: 760px) {
	.hero-title {
		font-size: 3.4rem;
	}
	.macro {
		font-size: 6rem;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes banner {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
