html,
body {
	width: 100%;
	overflow-x: hidden;
	max-width: 100vw;
	background-color: #eaeaea;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--c6);
	accent-color: var(--c-accent);
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	font-variant: all-small-caps;
}
small {
	font-variant: all-small-caps;
}
hr {
	background: var(--c6);
	width: 3px;
	border: none;
}
p {
	font-size: 1.2rem;
}
